In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

Matplotlib is building the font cache; this may take a moment.

In [28]:
hero = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vS1ZstYLwFgwhZnqDsPjtnlHYhJp_cmW55J8JD5mym0seRsaem3px7QBtuFF0LiI7z1PLCkVKAkdO7J/pub?output=csv')

In [29]:
hero.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [7]:
hero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

                       0            1       2       3
0          A-Bomb|Marvel       Comics    None    None
1                    Abe  Sapien|Dark   Horse  Comics
2                   Abin       Sur|DC  Comics    None
3     Abomination|Marvel       Comics    None    None
4              Absorbing   Man|Marvel  Comics    None
..                   ...          ...     ...     ...
458  Yellowjacket|Marvel       Comics    None    None
459         Yellowjacket    II|Marvel  Comics    None
460          Yoda|George        Lucas    None    None
461           Zatanna|DC       Comics    None    None
462              Zoom|DC       Comics    None    None

[463 rows x 4 columns]

In [32]:
# Make a list of all characters to replace
to_replace = ['|']
# run a loop to replace all of the characters in the list at once
for char in to_replace:
    hero['Hero|Publisher'] = hero['Hero|Publisher'].str.replace(char,' ',regex=False)
    
hero['Hero|Publisher'].head()

0            A-Bomb Marvel Comics
1    Abe Sapien Dark Horse Comics
2              Abin Sur DC Comics
3       Abomination Marvel Comics
4     Absorbing Man Marvel Comics
Name: Hero|Publisher, dtype: object

In [33]:
## adding expand=True
hero['Hero|Publisher'].str.split(' ',expand=True)

                0       1       2       3       4
0          A-Bomb  Marvel  Comics    None    None
1             Abe  Sapien    Dark   Horse  Comics
2            Abin     Sur      DC  Comics    None
3     Abomination  Marvel  Comics    None    None
4       Absorbing     Man  Marvel  Comics    None
..            ...     ...     ...     ...     ...
458  Yellowjacket  Marvel  Comics    None    None
459  Yellowjacket      II  Marvel  Comics    None
460          Yoda  George   Lucas    None    None
461       Zatanna      DC  Comics    None    None
462          Zoom      DC  Comics    None    None

[463 rows x 5 columns]

In [34]:
## save the 2 new columns into the dataframe
hero[['Name','Publisher1','Pubisher2','Publisher3','Publisher4']] = hero['Hero|Publisher'].str.split(' ',expand=True)
hero.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Name,Publisher1,Pubisher2,Publisher3,Publisher4
0,A-Bomb Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel,Comics,None,None
1,Abe Sapien Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe,Sapien,Dark,Horse,Comics

In [36]:
## drop the original column 
hero = hero.drop(columns=['Hero|Publisher', 'Pubisher2','Publisher3','Publisher4'])
hero.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Name,Publisher1
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe,Sapien

In [37]:
## adding expand=True
hero['Measurements'].str.split(' ',expand=True)

              0       1     2          3       4     5
0    {'Height':  '203.0  cm',  'Weight':  '441.0  kg'}
1    {'Height':  '191.0  cm',  'Weight':   '65.0  kg'}
2    {'Height':  '185.0  cm',  'Weight':   '90.0  kg'}
3    {'Height':  '203.0  cm',  'Weight':  '441.0  kg'}
4    {'Height':  '193.0  cm',  'Weight':  '122.0  kg'}
..          ...     ...   ...        ...     ...   ...
458  {'Height':  '183.0  cm',  'Weight':   '83.0  kg'}
459  {'Height':  '165.0  cm',  'Weight':   '52.0  kg'}
460  {'Height':   '66.0  cm',  'Weight':   '17.0  kg'}
461  {'Height':  '170.0  cm',  'Weight':   '57.0  kg'}
462  {'Height':  '185.0  cm',  'Weight':   '81.0  kg'}

[463 rows x 6 columns]

In [41]:
## save the 2 new columns into the dataframe
hero[['H','Height','cm','w','Weight','kg']] = hero['Measurements'].str.split(' ',expand=True)
hero.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Name,Publisher1,H,Height,cm,w,Weight,kg
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel,{'Height':,'203.0,"cm',",'Weight':,'441.0,kg'}
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe,Sapien,{'Height':,'191.0,"cm',",'Weight':,'65.0,kg'}

In [42]:
## drop the original column 
hero = hero.drop(columns=['Measurements', 'H','cm','w','kg'])
hero.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Name,Publisher1,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel,'203.0,'441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe,Sapien,'191.0,'65.0

In [43]:
hero.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Name,Publisher1,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel,'203.0,'441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe,Sapien,'191.0,'65.0
2,Male,Ungaran,good,No Hair,blue,red,Abin,Sur,'185.0,'90.0
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel,'203.0,'441.0
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing,Man,'193.0,'122.0

In [4]:
hero1 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSzdWOBaXOoz52vPmCFV5idNlDBohLY1Lsbc1IfZIZQ7cV_aNB2wYBfhF49uE1TaO1B5MQCGWiNrFfd/pub?output=csv')

In [5]:
hero1.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...